.box {
    margin-top:30%;
    margin-left:25%;
    width:50%;
}
.card-header{
    background:lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-body{
    background:#e1feff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}